<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/vue.min.js"></script>
</head>
<body>
<div id="app">
    <form :submit.prevent="addNewTodo">
        <label for="new-todo">add</label>
        <input type="text" v-model="newTodoText" id="new-todo" placeholder="请输入">
        <button>Add</button>
    </form>
    <ul>
        <li is="todo-item" v-for="(todo,index) in todos" :title="todo.title" :key="todo.id"
            v-on:remove="todos.splice(index,1)"></li>
    </ul>
</div>
<script>
    Vue.component('todo-item', {
        template: '<li>{{title}}<button v-on:click="$emit(\'remove\')">Remove</button></li>',
        props: ['title']
    });
    new Vue({
        el: '#app',
        data: {
            newTodoText: '',
            todos: [
                {
                    id: 1,
                    title: 'Do the dishes',
                },
                {
                    id: 2,
                    title: 'Take out the trash',
                },
                {
                    id: 3,
                    title: 'Mow the lawn'
                }
            ],
            nextTodoId: 4
        },
        methods: {
            addNewTodo: function () {
                this.todos.push({
                    id: this.nextTodoId++,
                    title: this.newTodoText
                });
                this.newTodoText = '';
            }
        }
    })
</script>
</body>
</html>